@mixin flexColumn() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flexRow() {
    display: flex;
    justify-content: center;
}

$branco: #fff;
$azul: #0e30a1;
$espaco: 20px;


.container-home {
    margin-top: 100px;

    .image-wrapper {
        position: relative;
        width: 90%;
        height: 800px;

        .servicos-mecanicos {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-left: 5%;
            border: 3px solid gray;
            border-radius: 15px;
        }
    }
    .container-content {
        position: absolute;
        text-shadow: 1px 1px 2px black;
        top: 35%;
        left: 75%;
        transform: translate(-50%, -50%);
        color: $branco;
        text-align: center;

        h1 {
            font-size: 2.1rem;
        }

        h2 {
            margin-top: $espaco;
            font-size: 1.4rem
        }

        .PeuCar-logo {
            margin-top: $espaco;
            width: 190px;
            border: 2px solid gray;
            border-radius: 50%;

            &:hover {
                transform: scale(1.08);
                transition: 0.2s;
            }
        }
    }
}

.container-footer {
    @include flexRow();
    color: $branco;
    background-color: rgb(11, 11, 11);
    margin-top: 40px;
    padding: 20px;
    font-size: 1.1rem;
    gap: 15%;

    .container-footer-content {
        @include flexRow();
        align-items: center;
    }

    .container-social-media {
        @include flexRow();
        align-items: center;

        .logos {
            @include flexRow();
            align-items: center;
            gap: 30px;
            margin-left: 15px;
            font-size: 1.7rem;
            
            i {
                color: $branco;     
            }
        }
    }
}

