.container-cards-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 150px 0 0 6%;

    .container-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 470px;
        max-height: 440px;
        gap: 15px;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);

        &:hover {
            transform: scale(1.02);
            transition: all 0.2s ease-in-out;
        }

        img {
            width: 350px;
            border-radius: 10px;
            border: 2px solid #715858;
        }

        a {
            background-color: green;
            color: white;
            padding: 7px 10px;
            font-weight: bold;
            border-radius: 20px;
        }
    }
}


// Responsividade para tablets e celulares
@media (max-width: 1024px) {
    .container-cards-services {
        grid-template-columns: repeat(2, 1fr); 
        margin: 100px 0 0 5%;
    }

    .container-card {
        max-width: 400px;
        max-height: 400px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);

        img {
            width: 300px; 
        }

        a {
            padding: 5px 8px; 
            font-size: 14px;
        }
    }
}

@media (max-width: 768px) {
    .container-cards-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-card {
        max-width: 90%; 
        max-height: auto;
        padding: 15px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 80px;

        img {
            width: 100%; 
        }

        a {
            padding: 10px; 
            font-size: 16px;
        }
    }
}

@media (max-width: 510px) {

    .container-cards-services {
        width: 100%; 
    }

    .container-card {
        max-width: 80%;
        margin-right: 10%;
        padding: 10px;
        gap: 20px;
    }
}